/* DROZERAH */

.drozerah {
    // link colors
    $color: #6a1b9a;
    $hoverColor:purple;

    text-decoration: none;
    font-size: 1em;
    line-height: 24px;
    height: 24px;
    color:white;

    svg {
        width:20px;
        height:20px;
        display: inline-block;
        vertical-align: -2px;
    }

    path {
        fill: $color;
        fill-rule: evenodd;
    }

    span {
        display: inline-block;
        color: $color;
    }

    &:hover path {
        fill: $hoverColor;
    }
    
    &:hover span {
        color: $hoverColor;
    }
}

