/* DROZERAH */

.drozerah {
    // link colors
    $color: lime;
    text-decoration: none;
    font-size: 1em;
    color:white;

    svg {
        width:20px;
        height:20px;
        display: inline-block;
        vertical-align: -2px;
    }

    path {
        fill: $color;
        fill-rule: evenodd;
    }

    span {
        display: inline-block;
        color: $color;
    }
    
    &:hover span {
        color: $color;
        text-decoration: underline;
    }
}

